// Local URL
@import (optional) "../../../../../modules/backend/assets/less/core/boot.less";
// Symlink URL
@import (optional) "../../../winter/modules/backend/assets/less/core/boot.less";

@spacing: 40px;

#layout-side-panel {
    width: 260px !important;
    background: @color-panel-light;

    > .layout-cell,
    > .layout-cell > .layout-relative,
    > .layout-cell > .layout-relative > .layout,
    > .layout-cell > .layout-relative > .layout > .layout-row {
        height: 100%;
    }

    .fixed-content {
        position: sticky;
        top: @padding-standard;
    }

    h1 {
        font-size: @font-size-h1 - 8;
        margin-top: 0;
        padding-bottom: (@spacing / 4);
        margin-bottom: (@spacing / 2);
        border-bottom: 1px solid #ddd;
    }

    ul.nav-list {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-top: (@spacing / 5);

            a.reading {
                font-weight: bold;
            }

            & > ul.sub-list {
                padding-left: (@spacing / 1.5);
                list-style: none;
    
                li {
                    font-weight: normal;
                }
            }
        }
    }
}
