<ul>
    {% for item in items %}
        <li>
            {% if item.anchor %}
                <a href="{{ item.anchor }}">
                    {% if item.type %}
                        <span class="type{% if item.type.class %} {{ item.type.class }}{% endif %}">
                            {{ item.type.text }}
                        </span>
                    {% endif %}
                    {{ item.title }}
                </a>
            {% else %}
                <span>
                    {% if item.type %}
                        <span class="type{% if item.type.class %} {{ item.type.class }}{% endif %}">
                            {{ item.type.text }}
                        </span>
                    {% endif %}
                    {{ item.title }}
                </span>
            {% endif %}

            {% if item.children %}
                {% partial __SELF__ ~ '::toc-items' items=item.children %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
